.attribution {
    font-size: 11px;
    text-align: center; 
}
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
#container {
    width: 100%;
    height: 98vh;
    background-color: lightgray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainContent {
    z-index: 1000;
}
.content {
    display: inline-block;
    padding: 20px;
    background-color: hsl(228, 56%, 26%);
    vertical-align: bottom;
    -webkit-box-shadow: 0px 5px 30px 0px black;
}
#left {
    padding: 20px; 
    padding-right: 100px;
    margin-right: 20px;
    border-radius: 10px 75px 10px 10px;
}
#actions {
    margin-top: 20px;
}
.actionButton {
    display: inline-block;
    background-color: hsl(229, 57%, 11%);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    vertical-align: top;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}
#right {
    color: #fff;
    border-radius: 10px;
    position: relative;
}
#usage {
    display: inline-block;
    font-size: 12px;
    color: #fff;
}
#currentUsage {
    font-weight: 900;
    color: #fff;
}
#usageBar {
    background-color: hsl(229, 57%, 11%);
    width: 450px;
    height: 14px;
    border-radius: 1000px;
    border: 2px solid hsl(229, 57%, 11%);
    position: relative;
}
#usageFill {
    width: 81.5%;
    height: 100%;
    border-radius: 1000px;
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}
#usageBall {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 1000px;
    position: absolute;
    top: 2px;
    right: calc(18.5% + 2px);
}
.usageLimit {
    font-size: 10px;
    font-weight: 700;
}
#usageMaxLimit {
    position: absolute;
    right: 10px;
    bottom: 20px;
}
#usageLeft {
    right: 20px;
    top: -20px;
    position: absolute;
    background-color: #fff;
    color: hsl(229, 57%, 11%);
    border-radius: 10px 10px 0 10px;
    padding: 10px;
}

#usageLeft::before {
    content: "";
    background-color: #fff;
    height: 21px;
    width: 20px;
    position: absolute;
    right: 0;
    bottom: -20px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}
#usageBold {
    font-weight: 800;
}
#usageLeft p {
    display: inline-block;
    margin-top: 0;
    vertical-align: middle;
}

#background {
    background-image: url("images/bg-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 30vh;
    position: absolute;
    bottom: 200px;
}
#mainBackground {
    position: absolute;
    width: 80%;
    height: 50vh;
    background-color: hsl(229, 57%, 11%);
    background-position: center;
}

/* Kaip prideti mobilia versija*/
@media (max-width: 800px) {
    #mainContent {
        text-align: center;
    }
    .content {
        display: block;
    }
    #left{
        text-align: left;
        margin-bottom: 20px;
        margin-right: 0;
    }
    #right {
        text-align: left;
    }
    #usageBar {
        width: auto;
    }
    #usageLeft::before {
        display: none;
    }
    #usageLeft {
        text-align: center;
        border-radius: 10px;
        right: unset;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
    }
    #background {
        background-image: url("./images/bg-mobile.png");
        height: 100%;
        top: 0;
    }
}